.navbar {
  box-sizing: border-box;
  position: absolute;
  width: 1280px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #18181c;
  border: 2px solid #000000;
}
.logo {
  position: absolute;
  width: 254px;
  height: 80px;
  left: calc(50% - 254px / 2 - 513px);
  top: 0px;
  mix-blend-mode: screen;
}
.line-1 {
  position: absolute;
  width: 150px;
  height: 0px;
  left: 178px;
  top: 0px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}
form.search-bar input[type="text"] {
  padding: 10px;
  position: absolute;
  width: 246px;
  height: 42px;
  left: 284px;
  top: 19px;
  background: #2c2f35;
  border-radius: 25px;
  border: 1px solid grey;
  color: white;
}
form.search-bar button {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 490px;
  top: 27px;
  background: none;
  border: 0;
  color: #ffffff;
}
form.search-bar button button[placeholder] {
  color: #f592d7;
}
form.search-bar button:hover {
  background: #f592d7;
}
